.add-topic {
  margin: 2rem 0;
}

.add-topic fieldset {
  padding: 1rem 1rem;
}

.add-topic input {
  font-size: 16px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 175px;
}

.add-topic button {
  padding: 0.5em;
  border: 0;
  background: transparent;
  line-height: 0;
  vertical-align: middle;
}

.add-topic button[disabled] {
  opacity: 0.5;
}
