<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><% preact.title %></title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
        <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="<%= htmlWebpackPlugin.options.manifest.theme_color %>">
        <meta name="msapplication-config" content="/browserconfig.xml">
        <meta name="msapplication-TileColor" content="<%= htmlWebpackPlugin.options.manifest.theme_color %>">
        <meta name="apple-mobile-web-app-title" content="Tallies">
        <meta name="twitter:site_name" content="Tallies.app">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:description" content="Keep count of stuff.">
        <meta property="og:site_name" content="Tallies.app">
        <meta property="og:title" content="Tallies.app">
        <meta property="og:url" content="https://tallies.app">
        <meta property="og:description" content="Keep count of stuff.">
        <meta property="og:type" content="website">
        <meta name="description" content="Keep count of stuff.">
        <% preact.headEnd %>
    </head>
    <body>
        <% preact.bodyEnd %>
        <% if (htmlWebpackPlugin.options.config.isProd) { %>
        <script>
          if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js')
              .then(function (registration) {
                console.log('Service Worker registration successful with scope: ', registration.scope)
              })
              .catch(function (err) {
                console.log('Service Worker registration failed: ', err)
              })
          }
        </script>
        <% } %>
        <noscript>Please enable javascript to play tic tac toe.</noscript>
    </body>
</html>
